<%= render "shared/chatheader" %>
<div class="container">


  <div class="chatroombox">

    <% @chatrooms.each do |chatroom| %>

    <div class="chat">
      <%= link_to chatroom_path(chatroom) do %>

        <div class="chatinfo">
          <%= image_tag chatroom.event.photo %>
          <div class="chattext">
            <p><%= chatroom.name %></p>
            <p><%= chatroom.event.start_time %></p>
          </div>

        </div>
      <% end %>
    </div>
    <% end %>

  </div>


</div>
