<%= render "shared/chatheader" %>
<div class="container">


  <div class="chatroombox">

    <% @chatrooms.each do |chatroom| %>

    <div class="chat">
      <%= link_to chatroom_path(chatroom) do %>

        <div class="chatinfo">
        <% if chatroom.event.photo.attached? %>
          <%= cl_image_tag chatroom.event.photo.key %>
        <% else %>
          <%=  image_tag("event.jpg", class: "") %>
        <% end %>

          <div class="chattext">
            <p><%= chatroom.name.capitalize %></p>
            <p><%= chatroom.event.start_time.strftime("%A, %d %b %Y") %></p>
          </div>

        </div>
      <% end %>
    </div>
    <% end %>

  </div>


</div>
