<footer class="fixed-bottom">
    <%= link_to gifts_path, class:"" do %>
      <div class="footer-box">
      <%= image_tag "home.svg" %>
      <p>Home</p>
      </div>
    <% end %>
    <%= link_to new_event_path, class:"" do %>
      <div class="footer-box">
      <%= image_tag "gift.svg" %>
      <p>Gift</p>
      </div>
    <% end %>
    <%= link_to chatrooms_path, class:"" do %>
      <div class="footer-box">
      <%= image_tag "chat.svg" %>
      <p>Chat</p>
      </div>
    <% end %>
    <%= link_to events_path, class:"" do %>
      <div class="footer-box">
      <%= image_tag "calendar.svg" %>
      <p>Calendar</p>
      </div>
    <% end %>
</footer>
