<footer class="fixed-bottom">
    <%= active_link_to gifts_path, active: :inclusive do %>
      <div class="container">
        <div class="footer-box">
          <%= image_tag "home.svg" %>
          <p>Home</p>
        </div>
      </div>
    <% end %>
    <%= active_link_to new_event_path, active: :exclusive do %>
      <div class="container">
        <div class="footer-box">
          <%= image_tag "gift.svg" %>
          <p>Gift</p>
        </div>
      </div>
    <% end %>
    <%= active_link_to chatrooms_path,active: :exclusive do %>
      <div class="container">
        <div class="footer-box">
          <%= image_tag "chat.svg" %>
          <p>Chat</p>
        </div>
      </div>
    <% end %>
    <%= active_link_to events_path, active: :exclusive do %>
      <div class="container">
        <div class="footer-box">
          <%= image_tag "calendar.svg" %>
          <p>Calendar</p>
        </div>
      </div>
    <% end %>
</footer>
