<div class="giftheader-profile">
    <div>
      <%= link_to gifts_path do %>
        <%= image_tag "close.svg" %>
      <% end %>
    </div>
    <h4 class="m-0 profile-header">Profile</h4>
    <div class="icons">
      <%= link_to '#' do %>
        <%= image_tag "edit.svg" %>
      <% end %>
      <%= link_to '#' do %>
        <%= image_tag "settings.svg" %>
      <% end %>
  </div>
</div>
