<div data-controller="toggle-stars", data-toggle-stars-star-token-value="<%= form_authenticity_token %>">
  <% if vote.present? %>
    <%= link_to voting_path(vote), data: { turbo_method: "delete", toggle_stars_target: "star", action: "click->toggle-stars#deleteStar" } do %>
      <%= image_tag "starfilled.svg", class:"wishlistgift-image" %>
    <% end %>
  <% else %>
    <%= link_to wishlistgift_votings_path(wishlist), data: { turbo_method: "post", toggle_stars_target: "star",  action: "click->toggle-stars#createStar" } do %>
      <%= image_tag "star.svg", class:"wishlistgift-image" %>
    <% end %>
  <% end %>
  <%= link_to event_wishlistgift_path(event, wishlist) do %>
    <div class="wishlist-item">
      <%= image_tag wishlist.gift.photo %>
      <div class="wishlist-text">
        <p><%= wishlist.gift.name.first(20) %> </p>
        <p class="wishlist-price">$<%= wishlist.gift.price.to_i %></p>
      </div>
    </div>
  <% end %>
  <% if wishlist.votings.count == 1 %>
    <p class="wishlist-votes"><%= wishlist.votings.count %> vote</p>
  <% else %>
    <p class="wishlist-votes"><%= wishlist.votings.count %> votes</p>
  <% end %>
</div>
