<%= render "shared/giftheader" %>
<%= render "shared/calendar" %>
<div class="container text-center">
  <%= link_to "Add event", new_event_path, class:"btn-giftit my-5" %>
</div>
  <h4 class="text-center">Upcoming events</h4>
 <div class="container text-center events-container bottom-pushup">
  <% @events.each do |event| %>
    <div class="event-container my-3">
      <%= image_tag "ellipse.svg" %>
      <%= link_to event_path(event) do  %>
        <%= event.name.capitalize %> on:   <%= event.start_time.strftime("%A, %d %b %Y") %>
      <% end %>
    </div>
  <% end %>
</div>
