<% content_for :meta_title, "#{@event.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@event.photo.key) if @event.photo.present? %>
<%# data-controller="savegifts" %>
<%# data-savegifts-target="save" %>
<%# data-action="click->savegifts#togglegifts" %>
<div class="d-flex justify-content-center flex-nowrap m-5">
  <div class="event w-75">
    <h1><%= @event.name %> </h1> <%#= link_to "Delete", delete_path(@event) %>
    <div class="container">
      <div class="center">
        <%= cl_image_tag @event.photo.key, height: 131, width: 131, crop: :fill, :radius => 50 %>
      </div>
    </div>
    <div class="" data-controller="savegifts">

      <div class="" data-controller="eventhobby">
        <p class="text-center"> <strong><%= @event.start_time.strftime("%A, %d %b %Y") %></strong></p>
        <div class="d-flex justify-content-between"> Hobbies: <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displayHobby"></i></div>
        <div class="d-none" data-eventhobby-target="hobby">
          <% @event.hobbies.split.each do |tag| %>
            <div class="show-hobbies">
              <%= JSON.parse(tag).pluck("value").join("") %>
            </div>
          <% end %>
        </div>
        </p>
        <div class="d-flex justify-content-between wishlist"> Saved gifts (<%= @wishlistgift.size %>)
        <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displaySaved"></i>

        </div>
        <div class="my-3 d-flex justify-content-center">
          <div class="d-none " data-eventhobby-target="saved">
            <%# Wishlist %>
            <div class="wishlist">
                <% @wishlistgift.each do |wishlist| %>
                <%# DATA CONTROLLER %>
                  <div class="wishlistgift-container">
                    <% vote = Voting.find_by(user: current_user, wishlistgift: wishlist) %>
                    <%= render "shared/starlink", vote: vote, wishlist: wishlist %>
                    <%= link_to event_wishlistgift_path(@event, wishlist) do %>
                      <div class="wishlist-item">
                        <%= image_tag wishlist.gift.photo %>
                        <div class="wishlist-text">
                          <p><%= wishlist.gift.name.first(20) %> </p>
                          <p class="wishlist-price">$<%= wishlist.gift.price.to_i %></p>
                          <%# SCORE %>
                          <%# <% @voting = Voting.find_by(user: current_user, wishlistgift: wishlist) %>
                          <%# <% @voting.user = current_user %>
                          <%#= @voting.user.count %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <% end %>
              </div>
              <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
              <script>
                document.getElementsByClassName("btn-giftit")[0].addEventListener("click", () => {
                confetti();
                });
              </script>
              <%# Gift It %>
              <div class="container text-center">
                <%= link_to "Gift It!", "#", class:"btn-giftit my-5" %>
              </div>
            </div>
         </div>

        <span> Members: </span>
            <div class="d-flex">
          <% @members.each do |member| %>
            <% if member == @members.last %>
             <span class="nowrap"><%= member.user.username %></span>
            <% else %>
               <span class="nowrap"><%= member.user.username %></span><p>,&#160;</p>
            <% end %>
          <% end %>
            </div>



        <div class="sharebtn d-flex p-1">
          <i class="fa-solid fa-share-nodes sendicon"></i>
          <div class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            &nbsp;Share
          </div>
        </div>

<!-- Modal -->
<div class="modal fade modalbackground" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modalpopupheaderfield">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">invite a friend!</h1><i class="fa-regular fa-paper-plane"></i>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modalpopupmainfield">
       <%= simple_form_for(User.new(), url: user_invitation_path) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs modalpopuplabel">
          <%= f.input :email, :include_blank => true, placeholder: "friends emailadress" %>
          <%= f.input :username, :include_blank => true, placeholder: "choose a username" %>
        </div>

        <div class="form-actions">
          <%= hidden_field_tag(:event, @event.id) %>
          <div class="" data-bs-dismiss="modal">
            <%= f.button :submit, t("devise.invitations.new.submit_button"),class:"modalsendbtn" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


      <div data-controller="pricebutton">
        <label  data-pricebutton-target="number" for="temp">Price: <%= @event.price.to_i %>$</label><br />
<!--
        <input data-action="change->pricebutton#updateNumber" data-pricebutton-price-value=value data-pricebutton-target="price"  type="range" id="temp" name="temp" list="tickmarks" min="0" max="500" value="<%= @event.price %>" />
        <%= link_to "Update", event_path(@event, :eventid => @event.id), class: "btn btn-primary", data: {pricebutton_target: "button", action: "click->pricebutton#sendRequest"} %>
-->
        <input class="slider my-4", data-action="change->pricebutton#updateNumber" data-pricebutton-price-value=value data-pricebutton-target="price"  type="range" id="temp" name="temp" list="tickmarks" min="1" max="500" value="<%= @event.price %>" />
        <%= link_to "Update", event_path(@event, :eventid => @event.id), class: "btn-giftit-small", data: {pricebutton_target: "button", action: "click->pricebutton#sendRequest"} %>
      </div>

<!--
 <%= simple_form_for(@event) do |f|  %>
    <%= f.input :price, as: :range, input_html:{ min:"0", max:"500", data: {action: "change->pricebutton#updateTextInput(this.value)"}} %>
    <input type="text" id="textInput" value="">
    <%= f.submit class: "btn btn-primary" %>
 <% end %>
-->
<!--
  <label for="temp">Price: $<%= @event.price %></label><br />
 <%= simple_form_for @event do |f| %>
    <%= f.input :price, as: :range, input_html: { min: '0', step: 'any' }, label: "" %>
    <%= f.button :submit, class:"btn btn-primary" %>
<% end %>
   </div>
        <!--
        <input type="range" id="temp" name="temp" list="tickmarks" value="<%= @event.price %>" />
-->
        <h3 class="my-4"> Gift Suggestions</h3>
        <div class="wishlist bottom-pushup">
          <% @gifts.each do |gift| %>
            <div class="wishlistgift-container">
              <%= link_to event_wishlistgifts_path(@event, :gift_params => gift.id), data: {turbo_method: :post, action: "click->savegifts#disconnect"} do %>
                <%= image_tag "heart.svg", class:"wishlistgift-image", data: {savegifts_target: "remove"}%>
              <% end %>
              <%= link_to gift_path(gift) do %>
                <div class="wishlist-item">
                  <%= image_tag gift.photo %>
                  <div class="wishlist-text">
                    <p><%= gift.name.first(20) %></p>
                    <p class="wishlist-price">$<%= gift.price.to_i %> </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
