<div class="d-flex justify-content-center flex-nowrap m-5">
  <div class="event w-75">
    <h1><%= @event.name %></h1>
    <div class="container">
      <div class="center">
        <%= cl_image_tag @event.photo.key, height: 131, width: 131, crop: :fill, :radius => 50 %>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos" data-controller="eventhobby">
        <p> <strong><%= @event.start_time.strftime("%A %S %b %y") %></strong></p>
        <div class="d-flex justify-content-between"> Hobbies: <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displayHobby"></i></div>
        <div class="d-none" data-eventhobby-target="hobby">
          <% @event.event_tags.each do |tag| %>
            <div class="show-hobbies">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
        </p>
        <div class="d-flex justify-content-between"> Saved gifts (<%= @wishlistgift.size %>) <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displaySaved"></i>

        </div>
        <div class="cards d-flex justify-content-center">
          <div class="d-none cards" data-eventhobby-target="saved">

         <div class="wishlist">
          <% @wishlistgift.each do |wishlist| %>
            <%= link_to gift_path(wishlist) do %>
              <div class="wishlist-item">
                <%= image_tag wishlist.gift.photo %>
                <div class="wishlist-text">
                  <p><%= wishlist.gift.name.first %> </p>
                  <p class="wishlist-price">$<%= wishlist.gift.price.to_i %> </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>


          </div>
        </div>

        <div> Members: </div>
        <div class="d-flex">
          <% @members.each do |member| %>
            <% if member == @members.last %>
              <div><%= member.user.username %></div>
            <% else %>
              <div class="d-flex"><%= member.user.username %><p>, &nbsp;</p></div>
            <% end %>
          <% end %>
        </div>



        <div class="sharebtn d-flex p-1">
          <i class="fa-solid fa-share-nodes sendicon"></i>
          <div class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            &nbsp;Share
          </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">invite a friend!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <%= simple_form_for(User.new(), url: user_invitation_path) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email %>
          <%= f.input :username %>
        </div>

        <div class="form-actions">
          <%= hidden_field_tag(:event, @event.id) %>
          <div class="" data-bs-dismiss="modal">
            <%= f.button :submit, t("devise.invitations.new.submit_button") %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


        <label for="temp">Price: <%= @event.price %>$</label><br />
        <input type="range" id="temp" name="temp" list="tickmarks" value="<%= @event.price %>" />




        <h3 class="my-4"> Gift Suggestions</h3>
        <div class="wishlist bottom-pushup">
          <% @gifts.shuffle.sample(12).each do |gift| %>

            <div class="wishlistgift-container">
              <%= link_to event_wishlistgifts_path(@event, :gift_params => gift.id), data: {turbo_method: :post} do %>
                <%= image_tag "heart.svg", class:"wishlistgift-image" %>
              <% end %>
              <%= link_to gift_path(gift) do %>
                <div class="wishlist-item">
                  <%= image_tag gift.photo %>
                  <div class="wishlist-text">
                    <p><%= gift.name.first(10) %></p>
                    <p class="wishlist-price">$<%= gift.price.to_i %> </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
