<div class="d-flex justify-content-center flex-nowrap m-5">
  <div class="event w-75">
    <h1><%= @event.name %></h1>
    <div class="container">
      <div class="center">
        <%# <img class="event-img" src="https://cdn.thisiswhyimbroke.com/thumb/wacko-jacko-mask_400x333.jpg" alt="GiftIt team"> %>
        <%= cl_image_tag @event.photo.key, height: 100, width: 100, crop: :fill, :radius => 50 %>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos" data-controller="eventhobby">
        <p> <strong><%= @event.start_time %></strong>  </p>

        <div class="d-flex justify-content-between"> Hobbies: <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displayHobby"></i></div>
        <div class="d-none" data-eventhobby-target="hobby">
          <%# <div class="show-hobbies"> %>
            <%# <%= @event.hobbies %>
          <%# </div> %>

          <% @event.event_tags.each do |tag| %>
            <div class="show-hobbies">
              <%= tag.name %>
            </div>
          <% end %>



        </div>

        </p>

        <div class="d-flex justify-content-between"> Saved gifts (6) <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displaySaved"></i>
        </div>
        <div class="cards d-flex justify-content-center">
          <div class="d-none cards" data-eventhobby-target="saved">
            <div class="card-category-saved" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/krapp-strapp_400x333.jpg)">
            </div>
            <div class="card-category-saved" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/3d-printed-clippy-figurine_400x333.jpg)">
            </div>
            <div class="card-category-saved" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/kid-trump-calendar_400x333.jpg)">
            </div>
          </div>
        </div>


        <div> Members: Paul, Eoin </div>




        <div class="cards"> Share </div>
        <div class="price_selector"> Price: <%= @event.price %> </p>
        <label for="temp">Price</label><br />
        <input type="range" id="temp" name="temp" list="tickmarks" />
        <datalist id="tickmarks">
          <option value="0" label="0"></option>
          <option value="50" label="50"></option>
          <option value="100" label="100"></option>
          <option value="150" label="150"></option>
          <option value="200" label="200"></option>
          <option value="500" label="500"></option>
        </datalist>

        <h3> Gift Suggestions<h3>
        <div class="cards d-flex justify-content-center">
          <div class="card-category-suggestions" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/krapp-strapp_400x333.jpg)">
            </div>
            <div class="card-category-suggestions" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/3d-printed-clippy-figurine_400x333.jpg)">
            </div>
            <div class="card-category-suggestions" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/kid-trump-calendar_400x333.jpg)">
            </div>
          </div>
        </div>
      </div>
      <h3><%= link_to "All events", events_path %> </h3>
    </div>
  </div>
