<div class="d-flex justify-content-center flex-nowrap m-5">
  <div class="event w-75">
    <h1><%= @event.name %></h1>
      <div class="center">
        <%# <img class="event-img" src="https://cdn.thisiswhyimbroke.com/thumb/wacko-jacko-mask_400x333.jpg" alt="GiftIt team"> %>
        <%= cl_image_tag @event.photo.key, height: 100, width: 100, crop: :fill, :radius => 50 %>
      </div>
    <div class="card-product">
      <div class="card-product-infos" data-controller="eventhobby">
        <p> <strong><%= @event.start_time %></strong>  </p>

        <div class="d-flex justify-content-between"> Hobbies: <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displayHobby"></i></div>
        <div class="d-none" data-eventhobby-target="hobby">
          <%# <div class="show-hobbies"> %>
            <%# <%= @event.hobbies %>
          <%# </div> %>
          <% @event.tag_list.each do |tag| %>
            <div class="show-hobbies">
              <%= tag %>
            </div>
          <% end %>
        </div>




        </p>

        <div class="d-flex justify-content-between"> Saved gifts (6) <i class="fa-solid fa-sort-down" data-action="click->eventhobby#displaySaved"></i>
        </div>
        <div class="cards d-flex justify-content-center">
          <div class="d-none cards" data-eventhobby-target="saved">
            <div class="card-category-saved" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/krapp-strapp_400x333.jpg)">
            </div>
            <div class="card-category-saved" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/3d-printed-clippy-figurine_400x333.jpg)">
            </div>
            <div class="card-category-saved" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/kid-trump-calendar_400x333.jpg)">
            </div>
          </div>
        </div>



        <div> Members: Paul, Eoin </div>
        <div class="cards"> Share </div>

        <div> Price: <%= @event.price %> </p>
          <div class="slidecontainer">
            <input type="range" min="10" max="1000" value="100" class="slider" id="myRange">
          </div>
        </div>

        <h3> Gift Suggestions<h3>
        <div class="cards d-flex justify-content-center">
          <div class="card-category-suggestions" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/krapp-strapp_400x333.jpg)">
            </div>
            <div class="card-category-suggestions" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/3d-printed-clippy-figurine_400x333.jpg)">
            </div>
            <div class="card-category-suggestions" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.thisiswhyimbroke.com/thumb/kid-trump-calendar_400x333.jpg)">
            </div>
          </div>
        </div>
      </div>
      <h3><%= link_to "All events", events_path %> </h3>
    </div>
  </div>
