<%= render "shared/navbar" %>
<div class="giftheader">
  <h3>Popular in Hiking</h3>
  <span>view more</span>
</div>

<div class="container giftgrid">
  <% @hiking_gifts.each do |hiking_gift| %>
  <%= link_to gift_path(hiking_gift) do %>
    <div class="giftcard">
      <%= image_tag hiking_gift.photo %>
        <div class="card-title">
          <% if hiking_gift.name.split(": ")[1..-1].size == 1 %>
            <%= hiking_gift.name.split(": ")[1..-1].join %>
          <% else %>
            <%= hiking_gift.name %>
          <% end %>
      </div>
      <div class="card-title">
        <%= hiking_gift.name %>
      </div>
      <div class="card-text">
        $<%= hiking_gift.price.to_i %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<div class="giftheader">
  <h3>Popular in Technology</h3>
  <span>view more</span>
</div>

<div class="container giftgrid">
  <% @technology_gifts.each do |technology_gift| %>
  <%= link_to gift_path(technology_gift) do %>
    <div class="giftcard">
      <%= image_tag technology_gift.photo %>
        <div class="card-title">
          <% if technology_gift.name.split(": ")[1..-1].size == 1 %>
            <%= technology_gift.name.split(": ")[1..-1].join %>
          <% else %>
            <%= technology_gift.name %>
          <% end %>
      </div>
      <div class="card-title">
        <%= technology_gift.name %>
      </div>
      <div class="card-text">
        $<%= technology_gift.price.to_i %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<div class="giftheader">
  <h3>Popular in Chocolate</h3>
  <span>view more</span>
</div>

<div class="container giftgrid">
  <% @chocolate_gifts.each do |chocolate_gift| %>
  <%= link_to gift_path(chocolate_gift) do %>
    <div class="giftcard">
      <%= image_tag chocolate_gift.photo %>
        <div class="card-title">
          <% if chocolate_gift.name.split(": ")[1..-1].size == 1 %>
            <%= chocolate_gift.name.split(": ")[1..-1].join %>
          <% else %>
            <%= chocolate_gift.name %>
          <% end %>
      </div>
      <div class="card-title">
        <%= chocolate_gift.name %>
      </div>
      <div class="card-text">
        $<%= chocolate_gift.price.to_i %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
