<%= render "shared/navbar" %>
<div class="giftheadersolo">
  <h3>Popular in Hiking</h3>
</div>
<div class="container">
  <div class="giftcardsolo">
    <div class="giftimage">
      <%= image_tag @gift.photo %>
    </div>
    <div class="giftinfo">
      <div class="card-title">
        <%= @gift.name %>
      </div>
      <div class="card-title">
        <%= @gift.price %>
      </div>
      <br>
      <div class="card-description">
        <div>Product description:</div>
        <%= @gift.description %>
      </div>
    </div>
  </div>
</div>
